<!DOCTYPE html>
<html>
<head>
    <title>Daftar Produk</title>
</head>
<body>
    <h1>Daftar Produk</h1>
    <p>Nama: Caressa Putri Yuliantoro</p>
    <p>NPM: 2206081742</p>
    <p>Kelas: PBP A</p>
    <table border="1">
        <tr>
            <th>Gambar</th>
            <th>Nama</th>
            <th>Harga</th>
            <th>Stok</th>
        </tr>
        {% for product in products %}
            <tr>
                <td><img src="{{ product.image.url }}" alt="{{ product.name }}" width="100"></td>
                <td>{{ product.name }}</td>
                <td>Rp{{ product.price }}</td>
                <td>{{ product.stock }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>

